<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Login</h1>
  <p>
    <%= message %>
  </p>
  <form action="/login" method="POST">
    <input type="text" class="input" name="username" id="username" placeholder="Username"><br>
    <input type="password" class="input" name="password" id="password" placeholder="Password"><br>
    <input type="submit" class="button" value="Login">
  </form>
  <p>Don't have an account? <a href="/signup">Sign up</a></p>
</body>

</html>