<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Sign Up</h1>
  <p>
    <%= message %>
  </p>
  <form action="/signup" method="POST">
    <input type="text" class="input" name="username" id="username" placeholder="Username"><br>
    <input type="text" class="input" name="fname" id="fname" placeholder="First name">
    <input type="text" class="input" name="lname" id="lname" placeholder="Last name"><br>
    <input type="email" class="input" name="email" id="email" placeholder="Email"><br>
    <input type="password" class="input" name="password" id="password" placeholder="Password"><br>
    <input type="submit" class="button" value="Sign Up">
  </form>
  <p>Have an account? <a href="/login">Log in</a></p>
</body>

</html>